In [1]:
import numpy as np
import pandas as pd

In [2]:
Cities = pd.DataFrame({'Cities':['James Town','Labadi', 'Kojokrom', 'Adukrom', 'Buipe', 'Walewale'], 'Names':['Akwele','Korkor', 'Ewuradwoa', 'Yaa', 'Akorfa', 'Malema']})
print(Cities)

       Cities      Names
0  James Town     Akwele
1      Labadi     Korkor
2    Kojokrom  Ewuradwoa
3     Adukrom        Yaa
4       Buipe     Akorfa
5    Walewale     Malema

In [3]:
Employee = pd.DataFrame({'Hire_Data':[2009, 2010, 2008, 2011, 2012, 2013], 'Names':['Korkor', 'Ewuradwoa', 'Yaa', 'Akorfa', 'Malema', 'Zoe']})
print(Employee)

   Hire_Data      Names
0       2009     Korkor
1       2010  Ewuradwoa
2       2008        Yaa
3       2011     Akorfa
4       2012     Malema
5       2013        Zoe

In [4]:
print(pd.merge(Cities, Employee, indicator = True))

     Cities      Names  Hire_Data _merge
0    Labadi     Korkor       2009   both
1  Kojokrom  Ewuradwoa       2010   both
2   Adukrom        Yaa       2008   both
3     Buipe     Akorfa       2011   both
4  Walewale     Malema       2012   both

In [5]:
print(pd.merge(Cities, Employee, on = 'Names', how = 'left', indicator = True))

       Cities      Names  Hire_Data     _merge
0  James Town     Akwele        NaN  left_only
1      Labadi     Korkor     2009.0       both
2    Kojokrom  Ewuradwoa     2010.0       both
3     Adukrom        Yaa     2008.0       both
4       Buipe     Akorfa     2011.0       both
5    Walewale     Malema     2012.0       both

In [6]:
print(pd.merge(Cities, Employee, on = 'Names', how = 'right', indicator = True))

     Cities      Names  Hire_Data      _merge
0    Labadi     Korkor       2009        both
1  Kojokrom  Ewuradwoa       2010        both
2   Adukrom        Yaa       2008        both
3     Buipe     Akorfa       2011        both
4  Walewale     Malema       2012        both
5       NaN        Zoe       2013  right_only

In [7]:
print(pd.merge(Cities, Employee, on = 'Names', how = 'inner', indicator = True))

     Cities      Names  Hire_Data _merge
0    Labadi     Korkor       2009   both
1  Kojokrom  Ewuradwoa       2010   both
2   Adukrom        Yaa       2008   both
3     Buipe     Akorfa       2011   both
4  Walewale     Malema       2012   both

In [8]:
print(pd.merge(Cities, Employee, on = 'Names', how = 'outer', indicator = True))

       Cities      Names  Hire_Data      _merge
0  James Town     Akwele        NaN   left_only
1      Labadi     Korkor     2009.0        both
2    Kojokrom  Ewuradwoa     2010.0        both
3     Adukrom        Yaa     2008.0        both
4       Buipe     Akorfa     2011.0        both
5    Walewale     Malema     2012.0        both
6         NaN        Zoe     2013.0  right_only

In [9]:
print(pd.merge(Employee, Cities, on = 'Names', how = 'left', indicator = True))

   Hire_Data      Names    Cities     _merge
0       2009     Korkor    Labadi       both
1       2010  Ewuradwoa  Kojokrom       both
2       2008        Yaa   Adukrom       both
3       2011     Akorfa     Buipe       both
4       2012     Malema  Walewale       both
5       2013        Zoe       NaN  left_only

In [10]:
print(pd.merge(Employee, Cities, on = 'Names', how = 'right', indicator = True))

   Hire_Data      Names      Cities      _merge
0     2009.0     Korkor      Labadi        both
1     2010.0  Ewuradwoa    Kojokrom        both
2     2008.0        Yaa     Adukrom        both
3     2011.0     Akorfa       Buipe        both
4     2012.0     Malema    Walewale        both
5        NaN     Akwele  James Town  right_only

In [11]:
print(pd.merge(Employee, Cities, on = 'Names', how = 'inner', indicator = True))

   Hire_Data      Names    Cities _merge
0       2009     Korkor    Labadi   both
1       2010  Ewuradwoa  Kojokrom   both
2       2008        Yaa   Adukrom   both
3       2011     Akorfa     Buipe   both
4       2012     Malema  Walewale   both

In [12]:
print(pd.merge(Employee, Cities, on = 'Names', how = 'outer', indicator = True))

   Hire_Data      Names      Cities      _merge
0     2009.0     Korkor      Labadi        both
1     2010.0  Ewuradwoa    Kojokrom        both
2     2008.0        Yaa     Adukrom        both
3     2011.0     Akorfa       Buipe        both
4     2012.0     Malema    Walewale        both
5     2013.0        Zoe         NaN   left_only
6        NaN     Akwele  James Town  right_only